{% extends "templates/layout.html" %}

{% block title %}
Godavari Logistics - Your Growth Partner
{% endblock %}

{% block meta_block %}
<meta name="keywords" content="Godavari Logistics - keywords" />
<meta name="description" content="Godavari Logistics - description" />
<meta name="author" content="erptech.in" />
{% endblock %}

{% block page_content %} {{ _("") }}


<!-- Hero Banner Section -->
<section class="relative w-full h-[400px] page-banner bg-about bg-center bg-no-repeat bg-cover">

    <!-- Hero Content -->
    <div class="absolute top-[156px] left-[238px] w-[656px]">
        <h1 class="text-3xl font-manrope font-extrabold leading-tight tracking-tight">
            <span class="text-white">Driving Progress</span>
        </h1>
        <h1 class="text-3xl mt-3 font-manrope font-extrabold leading-tight tracking-tight">
            <span class="text-primary">Across India</span>
        </h1>
    </div>
</section>

<!-- About Section -->
<section class="px-6 md:px-12 lg:px-40 py-10">
    <div class="flex flex-col lg:flex-row gap-16 items-center">
        <div class="flex-1">
            <h2 class="font-manrope text-4xl mb-6">
                <span class="text-primary font-normal">Godavari</span>
                <span class="text-secondary font-normal"> Warehousing</span><br>
                <span class="text-dark font-bold">Your Growth Partner</span>
            </h2>
            <p class="text-textGray leading-relaxed">
                At Godavari Logistics, we are committed to transforming logistics with reliability and
                precision. As a trusted 3PL provider in India, we offer comprehensive supply chain solutions
                tailored to businesses of all sizes. From warehousing and inventory control to transportation
                and distribution, our services are designed to meet your specific requirements.
                <br><br>
                By focusing on innovation, efficiency, and customer satisfaction, we ensure your products move
                seamlessly, regardless of distance or complexity. Our expert team leverages cutting-edge
                technology and industry best practices to deliver unmatched performance. With a deep
                understanding of the evolving logistics landscape, we provide flexible solutions that scale with
                your business needs. Partner with us to drive your business forward with ease and confidence.
            </p>
        </div>
        <div class="w-full lg:w-[450px] h-[309px] overflow-hidden">
            <div class="w-[520px] h-[441px] -ml-[69px] -mt-[57px] bg-center bg-no-repeat bg-cover">
                <img src="/assets/godavari/images/godavari-warehousing-about.png" />
            </div>
        </div>
    </div>
    <button class="mt-6 bg-primary text-white font-bold py-3.5 px-8 rounded">Get Quote</button>

    <section class="flex sm:flex gap-16 justify-between py-0 mt-16 max-md:flex-col max-md:p-10">
        <article
            class="relative p-10 sm:mx-5 bg-white rounded-md shadow-[0_2px_10px_rgba(0,0,0,0.1)] w-[706px] max-md:w-full">
            <div class="absolute top-0 left-0 w-1.5 h-full bg-orange-600 rounded-md"></div>
            <h3 class="mb-7 text-4xl font-bold text-orange-600 max-sm:text-3xl">
                Mission
            </h3>
            <p class="text-base leading-6 text-neutral-600">
                Our mission is to provide seamless, reliable, and efficient logistics
                solutions that help businesses optimize their supply chains and meet
                their growth objectives. We are dedicated to delivering high-quality
                services that exceed client expectations through innovation,
                expertise, and customer-centric solutions.
            </p>
        </article>
        <article
            class="relative p-10 sm:mx-5 bg-white rounded-md shadow-[0_2px_10px_rgba(0,0,0,0.1)] w-[706px] max-md:w-full">
            <div class="absolute top-0 left-0 w-1.5 h-full bg-orange-600 rounded-md"></div>
            <h3 class="mb-7 text-4xl font-bold text-orange-600 max-sm:text-3xl">
                Vision
            </h3>
            <p class="text-base leading-6 text-neutral-600">
                Our vision is to become India's most trusted and innovative 3PL
                logistics provider, empowering businesses across industries with the
                tools and resources needed to succeed. We aim to lead the logistics
                sector through cutting-edge technology, sustainable practices, and a
                relentless focus on operational excellence.
            </p>
        </article>
    </section>

</section>

<!-- Why Choose Us Section -->
<section class="bg-light py-10">
    <div class="px-6 md:px-12 lg:px-40">
        <div class="text-center mb-12">
            <h2 class="text-4xl font-manrope font-bold mt-4">Values</h2>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">

            <!-- Card 1 -->
            <div class="bg-white hover:bg-primary rounded-md p-6 text-center group transition-colors duration-300">
                <div class="w-[55px] h-[55px] mx-auto mb-6 bg-customer bg-center bg-no-repeat bg-contain">
                </div>
                <h3 class="text-primary text-xl font-archivo font-medium pb-2 group-hover:text-white">
                    Customer-Centricity</h3>
                <p class="text-textGray group-hover:text-white">We put our clients at the heart of everything we
                    do, delivering personalized solutions that create lasting value.</p>
            </div>

            <!-- Card 2 -->
            <div class="bg-white hover:bg-primary rounded-md p-6 text-center group transition-colors duration-300">
                <div class="w-[79px] h-[79px] mx-auto mb-6 bg-integrity bg-center bg-no-repeat bg-contain">
                </div>
                <h3 class="text-primary text-xl font-archivo font-medium pb-2 group-hover:text-white">Integrity</h3>
                <p class="text-textGray group-hover:text-white">We uphold the highest standards of honesty,
                    transparency, and ethical business practices in all our operations.</p>
            </div>

            <!-- Card 3 -->
            <div class="bg-white hover:bg-primary rounded-md p-6 text-center group transition-colors duration-300">
                <div class="w-[88px] h-[87px] mx-auto mb-6 bg-innovation bg-center bg-no-repeat bg-contain">
                </div>
                <h3 class="text-primary text-xl font-archivo font-medium pb-2 group-hover:text-white">Innovation</h3>
                <p class="text-textGray group-hover:text-white">We embrace technology and creative thinking to
                    continuously improve and adapt to the evolving needs of our clients.</p>
            </div>

            <!-- Card 4 -->
            <div class="bg-white hover:bg-primary rounded-md p-6 text-center group transition-colors duration-300">
                <div class="w-[88px] h-[87px] mx-auto mb-6 bg-collaboration bg-center bg-no-repeat bg-contain">
                </div>
                <h3 class="text-primary text-xl font-archivo font-medium pb-2 group-hover:text-white">Collaboration</h3>
                <p class="text-textGray group-hover:text-white">We foster a culture of teamwork, both within our company
                    and with our partners, to achieve shared goals.</p>
            </div>

            <!-- Card 5 -->
            <div class="bg-white hover:bg-primary rounded-md p-6 text-center group transition-colors duration-300">
                <div class="w-[88px] h-[87px] mx-auto mb-6 bg-sustainability bg-center bg-no-repeat bg-contain">
                </div>
                <h3 class="text-primary text-xl font-archivo font-medium pb-2 group-hover:text-white">Sustainability
                </h3>
                <p class="text-textGray group-hover:text-white">We are committed to implementing eco-friendly practices
                    that reduce environmental impact while ensuring efficiency and cost-effectiveness.</p>
            </div>

            <!-- Card 6 -->
            <div class="bg-white hover:bg-primary rounded-md p-6 text-center group transition-colors duration-300">
                <div class="w-[88px] h-[87px] mx-auto mb-6 bg-excellence bg-center bg-no-repeat bg-contain">
                </div>
                <h3 class="text-primary text-xl font-archivo font-medium pb-2 group-hover:text-white">Excellence</h3>
                <p class="text-textGray group-hover:text-white">We strive for excellence in every aspect of our work,
                    from service delivery to customer support, ensuring the highest quality outcomes for our clients.
                </p>
            </div>

        </div>
    </div>
</section>

<!-- Testimonials Section -->
<section class="px-6 md:px-12 lg:px-40 py-10">
    <div class="text-center mb-12">
        <span class="text-primary text-xl font-manrope font-semibold">Customer Testimonial</span>
        <h2 class="text-4xl font-manrope font-bold mt-4">Our Partner & Customer Give <br>The Best Review For Us
        </h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Testimonial 1 -->
        <div class="bg-light border-t-4 border-primary p-6">
            <div class="flex mb-5">
                <div class="w-5 h-5 mr-2"><img class="mx-auto" src="/assets/godavari/images/star.svg" alt="" /></div>
                <div class="w-5 h-5 mr-2"><img class="mx-auto" src="/assets/godavari/images/star.svg" alt="" /></div>
                <div class="w-5 h-5 mr-2"><img class="mx-auto" src="/assets/godavari/images/star.svg" alt="" /></div>
                <div class="w-5 h-5 mr-2"><img class="mx-auto" src="/assets/godavari/images/star.svg" alt="" /></div>
                <div class="w-5 h-5 mr-2"><img class="mx-auto" src="/assets/godavari/images/star.svg" alt="" /></div>
            </div>

            <p class="text-textGray mb-5">Lorem ipsum dolor sit amet consectetur. Pretium malesuada pulvinar sed
                feugiat sem est nisl pharetra. Facilisis ridiculus amet commodo aliquet a phasellus malesuada.
                Ac id quam mattis neque. Urna tellus ut maecenas interdum. Euismod egestas scelerisque.</p>

            <div class="flex items-center">
                <div class="w-[60px] h-[60px] rounded-full overflow-hidden mr-4"><img class="mx-auto"
                        src="/assets/godavari/images/cus1.png" alt="" /></div>
                <div>
                    <h4 class="text-2xl font-manrope font-bold text-textGray">Michael Adam</h4>
                    <p class="text-textGray">Hotel Manager</p>
                </div>
            </div>
        </div>

        <!-- Testimonial 2 -->
        <div class="bg-light border-t-4 border-primary p-6">
            <div class="flex mb-5">
                <div class="w-5 h-5 mr-2"><img class="mx-auto" src="/assets/godavari/images/star.svg" alt="" /></div>
                <div class="w-5 h-5 mr-2"><img class="mx-auto" src="/assets/godavari/images/star.svg" alt="" /></div>
                <div class="w-5 h-5 mr-2"><img class="mx-auto" src="/assets/godavari/images/star.svg" alt="" /></div>
                <div class="w-5 h-5 mr-2"><img class="mx-auto" src="/assets/godavari/images/star.svg" alt="" /></div>
                <div class="w-5 h-5 mr-2"><img class="mx-auto" src="/assets/godavari/images/star.svg" alt="" /></div>
            </div>

            <p class="text-textGray mb-5">Lorem ipsum dolor sit amet consectetur. Pretium malesuada pulvinar sed
                feugiat sem est nisl pharetra. Facilisis ridiculus amet commodo aliquet a phasellus malesuada.
                Ac id quam mattis neque. Urna tellus ut maecenas interdum. Euismod egestas scelerisque.</p>

            <div class="flex items-center">
                <div class="w-[60px] h-[60px] rounded-full overflow-hidden mr-4"><img class="mx-auto"
                        src="/assets/godavari/images/cus2.png" alt="" /></div>
                <div>
                    <h4 class="text-2xl font-manrope font-bold text-textGray">Wade Warren</h4>
                    <p class="text-textGray">Marketing Coordinator</p>
                </div>
            </div>
        </div>

        <!-- Testimonial 3 -->
        <div class="bg-light border-t-4 border-primary p-6">
            <div class="flex mb-5">
                <div class="w-5 h-5 mr-2"><img class="mx-auto" src="/assets/godavari/images/star.svg" alt="" /></div>
                <div class="w-5 h-5 mr-2"><img class="mx-auto" src="/assets/godavari/images/star.svg" alt="" /></div>
                <div class="w-5 h-5 mr-2"><img class="mx-auto" src="/assets/godavari/images/star.svg" alt="" /></div>
                <div class="w-5 h-5 mr-2"><img class="mx-auto" src="/assets/godavari/images/star.svg" alt="" /></div>
                <div class="w-5 h-5 mr-2"><img class="mx-auto" src="/assets/godavari/images/star.svg" alt="" /></div>
            </div>

            <p class="text-textGray mb-5">Lorem ipsum dolor sit amet consectetur. Pretium malesuada pulvinar sed
                feugiat sem est nisl pharetra. Facilisis ridiculus amet commodo aliquet a phasellus malesuada.
                Ac id quam mattis neque. Urna tellus ut maecenas interdum. Euismod egestas scelerisque.</p>

            <div class="flex items-center">
                <div class="w-[60px] h-[60px] rounded-full overflow-hidden mr-4"><img class="mx-auto"
                        src="/assets/godavari/images/cus3.png" alt="" /></div>
                <div>
                    <h4 class="text-2xl font-manrope font-bold text-textGray">Albert Flores</h4>
                    <p class="text-textGray">President of Sales</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}